<div [@routerTransition]>
    <section class="content px-2">
        <div class="container-fluid">

            <!-- Departments Count - START -->
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary elevation-1">
                            <i class="fas fa-users"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">No. of Departments</span>
                            <span class="info-box-number">
                                {{departmentsCount}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Departments Count - END -->

            <!-- Departments List - START -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <!-- Departments List Header - START -->
                        <div class="card-header bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="card-title mb-0">Departments</h3>
                                <a (click)="openDepartmentCreateDialog()" href="javascript:;" class="btn btn-primary">
                                    <i class="fa fa-plus-square"></i>
                                    Create
                                </a>
                            </div>
                        </div>
                        <!-- Departments List Header - END -->

                        <!-- Departments List Body - START -->
                        <div class="card-body table-responsive p-0">

                            <!-- Loader -->
                            <div *ngIf="isLoading" class="spinner-border m-5 table-loader" role="status">
                                <span class="visually-hidden"></span>
                            </div>

                            <!-- Table -->
                            <table *ngIf="departmentsCount > 0" class="table table-hover text-nowrap">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Id</th>
                                        <th class="w-25">Name</th>
                                        <th>Created At</th>
                                        <th class="w-25"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="openDepartment(department.id)" *ngFor="let department of departments" class="table-row">
                                        <td>
                                            <span>{{department.id}}</span>
                                        </td>
                                        <td>
                                            {{department.name}}
                                        </td>
                                        <td>{{department.creationTime | date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button (click)="openDepartmentEditDialog(department); $event.stopPropagation()" type="button" class="btn btn-primary mx-1">Edit</button>
                                            <button (click)="deleteDepartment(department.id); $event.stopPropagation()" type="button" class="btn btn-danger mx-1">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- No data text -->
                            <div *ngIf="departmentsCount === 0" class="no-departments-info">
                                No departments
                            </div>
                        </div>
                        <!-- Departments List Body - START -->

                    </div>
                </div>
            </div>
            <!-- Departments Table - END -->

        </div>
    </section>
</div>
